/* ==========================================================================
   Base Styles
   ========================================================================== */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: $arial;
}

.container {

}

@media (min-width: $mobile){
	.container {
		
	}
}

@media (min-width: $tablet){
	.container {
		
	}
}


@media (min-width: $desktop){
	.container {
		
	}
}



