/* ==========================================================================
   Header Styles
   ========================================================================== */

header {
	background: $primary-color;
	color: $header-color;
	padding: 20px 0;
	.logo {
		font-size: 6em;
		font-weight: bold;
		a, i {
			color: $black;
		}
	}
}




