/* ==========================================================================
   Variables
   ========================================================================== */


// Desktop Text Styles

$h1-font-size: 52px;
$h1-line-height: 60px;

$h2-font-size: 40px;
$h2-line-height: 52px;

$h3-font-size: 24px;
$h3-line-height: 40px;

// $h4-font-size: 52px;
// $h4-line-height: 34px;

// $h5-font-size: 52px;
// $h5-line-height: 60px;

// $h6-font-size: 52px;
// $h6-line-height: 60px;

$base-font-size: 16px;
$base-line-height: 24px;

// Mobile Text Styles

$h1-font-size-mob: 40px;
$h1-line-height-mob: 50px;

$h2-font-size-mob: 30px;
$h2-line-height-mob: 40px;

$h3-font-size-mob: 24px;
$h3-line-height-mob: 30px;

// $h4-font-size-mob: 52px;
// $h4-line-height-mob: 34px;

// $h5-font-size-mob: 52px;
// $h5-line-height-mob: 60px;

// $h6-font-size-mob: 52px;
// $h6-line-height-mob: 60px;

$base-font-size-mob: 16px;
$base-line-height-mob: 24px;

// Colour

$primary-color: #60B99A;
$secondary-color: #fff;

$body-font-color: #222;

$header-color: #fff;

$btn-primary: #F77825;
$btn-secondary: #554236;

$black: #000;



// Breakpoints

$desktop: 1200px;
$tablet: 768px;
$mobile: 500px;




